//@import "font-awesome-sprockets"
//@import "font-awesome"

body
  width: 100%
  color: #333
  font-size: 18px
  font-family: "Open Sans", sans-serif
  line-height: 1.4

  &.light-bg
    background-color: #f7f7f7

a
  text-decoration: none
  color: inherit

.forced_change_that_should_refresh_cache
  display: none

.highlights
  display: -webkit-box
  display: -moz-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  position: absolute
  -webkit-box-orient: vertical
  -moz-box-orient: vertical
  box-orient: vertical
  -webkit-box-direction: normal
  -moz-box-direction: normal
  box-direction: normal
  -webkit-flex-direction: column
  -moz-flex-direction: column
  flex-direction: column
  -ms-flex-direction: column
  -webkit-justify-content: space-between
  justify-content: space-between
  height: 100%
  width: 100%
  margin: 0
  font-size: 22.5px
  font-size: 31.5px
  font-size: 12px

@media only screen and (min-width: 500px) and (min-height: 400px)
  .highlights
    font-size: 20px

@media only screen and (min-width: 700px) and (min-height: 500px)
  .highlights
    font-size: 30px

@media only screen and (min-width: 1000px) and (min-height: 900px)
  .highlights
    font-size: 45px

@media only screen and (min-width: 1500px) and (min-height: 1150px)
  .highlights
    font-size: 54px

.no-bonus-message
  display: none
  margin: auto
  padding: 1em
  text-align: center
  color: #fff

.highlighted-bonus-container
  position: relative
  -webkit-box-flex: 2
  -moz-box-flex: 2
  box-flex: 2
  -webkit-flex: 2
  -moz-flex: 2
  -ms-flex: 2
  flex: 2
  display: -webkit-box
  display: -moz-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  overflow: hidden
  padding: 0.5em

.bonus-image, .bonus-video
  position: absolute
  top: 0
  right: 0
  width: 80%
  height: 100%
  opacity: .75
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  z-index: -1000000

.bonus-video video
  position: absolute
  left: 0
  height: 100%
  left: 0

.fade-gradient
  position: absolute
  top: 0
  left: 0
  width: 20%
  height: 100%

.fa-spin
  display: none
  position: absolute
  top: 30%
  left: 48%
  left: calc(50% - 1em)

  &:before
    font-size: 2em

.highlighted-bonus-container.unloaded
  > .fa-spin
    display: block

  > .highlighted-bonus
    display: none

.highlighted-bonus
  max-width: 1400px
  margin: auto
  padding: 1.5em
  color: #333
  background-color: #fff
  border-radius: 0.25em
  box-shadow: 0 0.05em 0.15em rgba(51, 51, 51, 0.1)
  overflow: hidden

.has-image .highlighted-bonus
  margin: auto 0
  max-width: 60%
  background: linear-gradient(to left, rgba(255,255,255,.6), rgba(255,255,255,.8), rgba(255,255,255,1))

.highlighted-bonus-header::after
  clear: both
  content: ""
  display: table

.highlighted-bonus-total-value
  float: left
  height: 2.25em
  border-radius: 1.667em
  margin-right: 0.5em
  font-weight: bold
  color: #fff
  padding: 0 0.75em
  line-height: 2.25em

.highlighted-bonus-recipients
  float: left

.highlighted-bonus-recipient
  float: left
  display: block
  margin-right: 0.5em
.highlighted-bonus-recipient:last-child
  margin-right: 0

.highlighted-bonus-recipient-avatar
  display: block
  width: 2.25em
  height: 2.25em
  border-radius: 100%

.highlighted-bonus-info
  float: right
  font-size: 0.875em
  line-height: 2.25em
  color: #aaa
  margin-right: 0.5em

.highlighted-bonus-body
  margin: 1em 0 0 0
  line-height: 1.3em

.has-image .highlighted-bonus-body
  text-shadow: 0 0 6px #fff

#bonus-reason > a[target='_blank']:hover
  text-decoration: underline

#bonus-reason > a[target='_blank'] > img
  display: none

.highlighted-bonus-author
  font-weight: bold
.highlighted-bonus-author:hover
  text-decoration: underline

.inline-bonus-amount
  font-weight: bold
  border-radius: 1em
  padding: 0 0.325em

.highlighted-bonus-name, .user-link
  font-weight: bold
.highlighted-bonus-name:hover
  text-decoration: underline

.highlighted-bonus-hashtag, .hashtag
  color: #999
.highlighted-bonus-hashtag:hover
  text-decoration: underline

.highlighted-stats-container
  display: -webkit-box
  display: -moz-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  box-shadow: 0 -0.05em 0.15em rgba(51, 51, 51, 0.1)
  padding: .3em
  background-color: #fff
  color: #333

.highlighted-stats
  display: -webkit-box
  display: -moz-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -moz-box-pack: center
  box-pack: center
  -webkit-justify-content: center
  -moz-justify-content: center
  -ms-justify-content: center
  -o-justify-content: center
  justify-content: center
  -ms-flex-pack: center
  margin: auto

.highlighted-stat
  padding: 1em 2em
  border-right: 0.1em solid rgba(170, 170, 170, 0.2)
  line-height: 1
.highlighted-stat:last-child
  border-right: none

.highlighted-stat-title
  margin-bottom: 0.5em
  font-size: 0.75em
  font-weight: 700
  text-transform: uppercase
  color: #aaa
  letter-spacing: -0.01em

.highlighted-stat-number
  font-weight: 400
  font-size: 2.5em

.highlighted-stat-recipients
  max-width: 600px
  max-height: 4.5em
  overflow: hidden

.highlighted-stat-recipients::after
  clear: both
  content: ""
  display: table

.highlighted-stat-recipient
  float: left
  display: inline-block
  margin-top: 0.5em
  margin-right: 0.5em
.highlighted-stat-recipient:last-child
  margin-right: 0

.highlighted-stat-recipient-avatar
  display: block
  width: 1.75em
  height: 1.75em
  border-radius: 0.25em

.not-authenticated
  background-color: #fff
  padding: 1em
  color: #2E3538

  h2
    font-size: 26px

  a
    text-decoration: underline

  p
    color: #2E3538
    margin-top: 30px
    margin-bottom: 0
    font-size: 14px

  input
    color: #2E3538
    font-size: 18px

  input[type="text"]
    border: 1px solid #ccc
    border-radius: 4px
    line-height: 30px
    margin-bottom: 20px
    min-width: 400px
    padding: 4px 6px

  input[type="submit"]
    border: none
    background-color: #33cc66
    border-radius: 4px
    box-shadow: inset 0 0 0 1px rgba(46, 53, 56, 0.25), inset 0 -5px 10px rgba(46, 53, 56, 0.1)
    box-sizing: border-box
    display: block
    color: #fff
    cursor: pointer
    font-family: "Open Sans", sans-serif
    font-size: 22px
    font-weight: bold
    line-height: 50px
    outline: none
    padding: 0 10px
    width: 100px

    &:hover
      background-color: #2EB55B


@media only screen and (min-width: 1000px)
  .not-authenticated
    width: 50%
    margin: 2em auto
    border-radius: 20px
